<div id="particles-js">
   <div class="header">
      <h1> 
         <span class="site-title">{{ site.user_title }}</span>
      </h1>
      
       <div class="header-links">
         <a class="link" href="#about" data-scroll> About</a>
         <a class="link" href="#projects" data-scroll> Projects</a>
         <a class="link" href="#contact" data-scroll> Contact</a>
        <!--  <a class="link" href="https://www.linkedin.com/in/natalianrs" target="_blank">LinkedIn</a> -->
         
      </div>
      
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-caret-down" aria-hidden="true"></i></a>
</div>

