 
<div class="user-details">
  <h1>Projects</h1>
  <p> Here are some of the projects I've been working on. </p>
</div> 
 
<div class="user">
  <div class="tech">
    <h2>Coding </h2>
      
    
    
    <p>Hi, My name is Natalia. I am a brazilian engineering student, who loves coding and messing things up. I am a brazilian engineering student, who loves coding and messing things up.
    </p>
   
  </div>
  
  
  <div class="tech">
    <h2>Coding</h2>
      
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
   
  </div>
 
 <div class="tech">
    <h2>Coding too</h2>
     
     
     
    <p>The Unnamed Project Blog is where I document my learning journey and my ongoing projects.</p>
   {% if site.medium_url %}
        <a aria-label="My Medium" target="_self" href="https://{{ site.medium_url }}"><i class="icon fa fa-blog" aria-hidden="true"></i></a>
    {% endif %}
  </div>
 
</div>
